{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "standard-react"
  ],
  "globals": {
    "fetch": true
  },
  "settings": {
    "react": {
      "version": "16.4"
    }
  }
}
