{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "standard-react"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "fetch": true
  },
  "rules": {
    "react/jsx-filename-extension": 2
  },
  "settings": {
    "react": {
      "version": "16.4"
    }
  }
}
